%button{type: "button", onclick: "document.getElementById('new-<%= singular_table_name %>-dialog').showModal()"} Add New <%= human_name %>

%dialog{id: "new-<%= singular_table_name %>-dialog"}
  %h3 Add New <%= human_name %>
  - @<%= singular_table_name %> = <%= class_name %>.new
  = render '<%= plural_table_name %>/form'
  %button{type: "button", onclick: "document.getElementById('new-<%= singular_table_name %>-dialog').close()"} Cancel
