- if notice
  %p#notice= notice

%h1 Show <%= singular_table_name.titleize %>

<% attributes.each do |attribute| -%>
%p
  %b <%= attribute.human_name %>:
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

= link_to 'Edit', edit_<%= singular_route_name %>_path(@<%= singular_table_name %>)
\|
= link_to 'Back', <%= index_helper %>_path
